# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build output
dist
coverage

# Git
.git
.gitignore

# IDE / Editor
.vscode
.idea
*.swp
*.swo


# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Tests
test
*.spec.ts

# Logs
logs
*.log

# NestJS cache
.nest-cli.json

# Temporary files
tmp
temp